{% extends 'main/base.html' %}

{% block page_title%}にじさーち{% endblock %}

{% block content %}
<div class="container">
  <form id="search" class="mt-5 row justify-content-center">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" id="query" placeholder="検索クエリを入力" autocomplete="off">
      </div>
      <div class="form-group mt-2">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="search_type" id="checkbox_keyword" value="keyword" checked>
          <label class="form-check-label" for="checkbox_keyword">キーワード検索</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="search_type" id="checkbox_character" value="character">
          <label class="form-check-label" for="checkbox_character">キャラクター検索</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="search_type" id="checkbox_tag" value="tag">
          <label class="form-check-label" for="checkbox_tag">タグ検索</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="search_type" id="checkbox_id" value="status_id">
          <label class="form-check-label" for="checkbox_id">Tweet ID検索</label>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary mb-2">検索</button>
    </div>
  </form>
  <a class="btn btn-outline-secondary btn-sm my-3" data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="description">検索について</a>
  <div class="collapse" id="description">
    <dl>
	  <dt>キーワード検索</dt><dd>登録されたツイートをキーワードで全文検索します。AND検索等には対応していないので、スペースも含めてそのまま検索されます。ハッシュタグ検索はキーワード検索で代用してください</dd>
      <dt>キャラクター検索</dt><dd>キャラクター名で検索します。</dd>
      <dt>タグ検索</dt><dd>Illustration2Vecで推定されたタグで検索します。タグを<code>;</code>で区切るとAND検索ができます。スペース区切りではないので気をつけてください。</dd>
      <dt>Tweet ID検索</dt><dd>Tweet IDで検索します。IDは各ツイートのURLから分かります ( <code>https://twitter.com/username/status/XXXXXX?YYYYYYY</code> の <code>XXXXXX</code> ) このフォーマットのURLを直接入力することも可能です。登録されていない画像ツイートを検索すると新しく登録されます。</dd>
    </dl>
  </div>
  <h2 class="h5 mt-4">更新情報</h2>
  <ul>
      <li>イラスト詳細画面で画像をクリックするとツイートに飛べるようにしました (6/12)</li>
      <li>デイリーランキングを追加しました (6/12)</li>
  </ul>
  <h2 class="h5 mt-5">新しく登録されたイラスト</h2>
  <hr>
  <div class="mt-4 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-0" id="grid" data-masonry='{"percentPosition": true}'>
    {% for image in images %}
      <div class="col mb-0">
          <a href="{% url 'status' image.status.status_id %}?n={{image.image_number}}"><img class="w-100 img-thumbnail" src="{{image.media_url}}:small" alt="イラスト" onerror="this.style.display='none'"></a>
      </div>
    {% endfor %}
  </div>
  <div class="mt-3 pb-5">
    <a class="float-end" href="{% url 'search' %}?order=id">全ての画像を見る</a>
  </div>
  <h2 class="h5 mt-5">本日の人気イラスト</h2>
  <div class="mt-4 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-0" id="grid2" data-masonry='{"percentPosition": true}'>
    {% for image in ranking_images %}
      <div class="col mb-0">
          <a href="{% url 'status' image.status.status_id %}?n={{image.image_number}}"><img class="w-100 img-thumbnail" src="{{image.media_url}}:small" alt="イラスト" onerror="this.style.display='none'"></a>
      </div>
    {% endfor %}
  </div>
  <div class="mt-3 pb-5">
    <a class="float-end" href="{% url 'ranking' %}">デイリーランキングを見る</a>
  </div>
</div>
{% endblock %}

{% block script %}
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
$('#search').submit(function(){
    const search_type = $('input:radio[name="search_type"]:checked').val();
    const query = $('#query').val();
    if (search_type == "tag") {
      location.href = "{% url 'search' %}?i2vtags=" + encodeURIComponent(query);
    } else if(search_type == "keyword"){
      location.href = "{% url 'search' %}?keyword=" + encodeURIComponent(query);
    } else if(search_type == "character"){
      location.href = "{% url 'search' %}?character=" + encodeURIComponent(query);
    } else {
      const queries = query.split('?')[0].split('/');
      location.href = "/status/" + queries[queries.length-1];
    }
    return false;
})

var $grid = document.querySelector('#grid');
var msnry = new Masonry($grid, {
    itemSelector: '.col',
    percentPosition: true
});
var $images = $grid.querySelectorAll('img');
$images.forEach(function (el) {
    el.addEventListener('load', function () {
        msnry.layout();
    });
});
var $grid2 = document.querySelector('#grid2');
var msnry2 = new Masonry($grid2, {
    itemSelector: '.col',
    percentPosition: true
});
var $images2 = $grid2.querySelectorAll('img');
$images2.forEach(function (el) {
    el.addEventListener('load', function () {
        msnry2.layout();
    });
});
</script>
{% endblock %}
