{% extends 'main/base.html' %}

{% block page_title%}にじさーち{% endblock %}

{% block content %}
<div class="container">
  {% if i2vtags or character or notfound %}
  <h2 class="h5 mt-5">
    {% for tag in i2vtags %}<span class="badge bg-secondary rounded-pill">{{ tag }}</span> {% endfor %}
    {% if character %}<span class="badge bg-success rounded-pill">{% if character.name_ja %}{{ character.name_ja }}{% else %}{{ character.name_en }}{% endif %}</span>{% endif %}
    の検索結果<small>（{{ images_count | default:"0"}} 枚）</small></h2>
  {% elif unlisted %}
  <h2 class="h5 mt-5">未収載画像<small>（{{ images_count }} 枚）</small></h2>
  {% else %}
  <h2 class="h5 mt-5">全ての画像<small>（{{ images_count }} 枚）</small></h2>
  {% endif %}
  {% if character %}
  {% if character.name_ja %}
  <div class="mt-2 ms-2">
    <div>英語表記 <code>{{ character.name_en }}</code></div>
    <div class="mt-1">
      <a href="https://dic.pixiv.net/a/{{ character.name_ja }}">ピクシブ百科事典で調べる</a>
      <a class="ms-2" href="https://dic.nicovideo.jp/a/{{ character.name_ja }}">ニコニコ大百科で調べる</a>
      {% if editor %}<a class="ms-2" data-bs-toggle="collapse" href="#translation_form" aria-expanded="false" aria-controls="translation_form">キャラクター情報を編集する</button>{% endif %}
      <a class="ms-2" data-bs-toggle="collapse" href="#description" aria-expanded="false" aria-controls="description">検索結果について</a>
    </div>
  </div>
  {% else %}
  <div class="mt-1">
  {% if editor %}<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#translation_form" aria-expanded="false" aria-controls="translation_form">キャラクター情報を編集する</button>{% endif %}
  <button class="btn btn-link" type="button" data-bs-toggle="collapse" href="#description" aria-expanded="false" aria-controls="description">検索結果について</a>
  </div>
  {% endif %}
  <div class="collapse" id="translation_form">
  <hr>
    <form class="row mt-3">
      <div class="col-auto">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">日本語表記</span>
          </div>
  	<input type="text" class="form-control name_ja" id="translation" value="{{character.name_ja}}">
        </div>
      </div>
      <div class="col-auto">
        <input type="hidden" class="pk" value="{{ character.pk }}">
        <button type="submit" class="btn btn-primary mb-2">送信</button>
      </div>
      <div>（原則的にピクシブ百科事典の表記に従うこととします）</div>
    </form>
    <hr>
  </div>
  <div class="collapse" id="description">
    <p class="mt-3">画像の左上に表示される赤丸はキャラクター情報が自動推定されたことを示しています</p>
  </div>
  <div class="mt-3 form-check">
      <input type="checkbox" class="form-check-input" id="show_unconfirmed"{% if not only_confirmed %} checked{%endif %}>
    <label class="form-check-label" for="show_unconfirmed">キャラクター自動推定の結果も表示する</label>
  </div>
  {% else %}
  <a class="my-3" data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="description">検索結果について</a>
  <div class="collapse" id="description">
    <p class="mt-3">画像の左上に表示される赤丸はまだキャラクター情報が登録されていないことを示しています</p>
  </div>
  {% endif %}
  {% if notfound %}
  <p>該当する画像がありませんでした</p>
  {% endif %}
  <div class="mt-4 row g-0">
    {% for image in images %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 position-relative">
        <a href="{% url 'status' image.status.status_id %}?n={{ image.image_number }}"><img class="w-100 img-thumbnail" src="{{image.media_url}}:thumb">
        {% if not image.confirmed %}<span class="position-absolute top-0 start-0 m-2 p-1 bg-danger border border-light rounded-circle"><span class="visually-hidden">Unconfirmed</span></span>{% endif %}</a>
    </div>
    {% endfor %}
  </div>
  <div class="mt-3 pb-5">
  {% if prev_page %}<a class="float-start" href="{{ prev_page }}">前のページ</a>{% endif %}
  {% if next_page %}<a class="float-end" href="{{ next_page }}">次のページ</a>{% endif %}
  </div>
</div>
{% endblock %}

{% block script %}
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
$('form').submit(function(e){
  e.preventDefault();
  var name_ja = $(this).find('.name_ja').val()
  axios.post('{% url 'translate_request' %}', {
      pk: $(this).find('.pk').val(),
      name_ja: name_ja,
  }).then(res => {
      console.log(res.data);
      if (res.data.success) {
        alert("日本語名の登録に成功しました（" + name_ja + "）");
        document.location.reload()
      } else {
        alert("キャラクター名の登録に失敗しました");
      }
  });
  return false;
});
$('#show_unconfirmed').change(function() {
    var url = new URL(window.location);
    var search_params = url.searchParams;
    if (this.checked) {
        search_params.set('confirmed', 'f');
    } else {
        search_params.delete('confirmed', 't');
    }
    var new_url = url.toString();
    window.location.replace(new_url);
});

</script>
{% endblock %}
