{% extends 'main/base.html' %}

{% block page_title%}{% if character %}{% if character.name_ja %}{{ character.name_ja }}{% else %}{{ character.name_en }}{% endif %}の{% endif %}イラスト検索結果{% endblock %}

{% block content %}
<div class="container">
  {% if i2vtags or character or notfound %}
  <h2 class="h5 mt-5">
    {% for tag in i2vtags %}<span class="badge bg-secondary rounded-pill">{{ tag }}</span> {% endfor %}
    {% if character %}<span class="badge bg-success rounded-pill">{% if character.name_ja %}{{ character.name_ja }}{% else %}{{ character.name_en }}{% endif %}</span>{% endif %}
    の検索結果<small>（{{ images_count | default:"0"}} 枚）</small></h2>
  {% else %}
  <h2 class="h5 mt-5">全ての画像<small>（{{ images_count }} 枚）</small></h2>
  {% endif %}
  {% if character %}
  {% if character.name_ja %}
  <div class="mt-2 ms-2">
    <h3 class="h6">英語表記: <code>{{ character.name_en }}</code></h3>
    <div class="mt-1">
      <a href="https://dic.pixiv.net/a/{{ character.name_ja }}">ピクシブ百科事典で調べる</a>
      <a class="ms-2" href="https://dic.nicovideo.jp/a/{{ character.name_ja }}">ニコニコ大百科で調べる</a>
      {% if editor %}<a class="ms-2 btn btn-link" data-bs-toggle="collapse" href="#translation_form" role="button" aria-expanded="false" aria-controls="translation_form">キャラクター情報を編集する</a>{% endif %}
    </div>
  </div>
  {% else %}
  {% if editor %}
  <div class="mt-3">
    <a data-bs-toggle="collapse" href="#translation_form" role="button" aria-expanded="false" aria-controls="translation_form">キャラクター情報を編集する</a>{% endif %}
  </div>
  {% endif %}
  <div class="collapse" id="translation_form">
  <hr>
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <form class="row mt-3" id="translation_form">
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">日本語表記</span>
            </div>
            <input type="text" class="form-control name_ja" id="translation" value="{{character.name_ja}}">
          </div>
        </div>
        <div class="col-auto">
          <input type="hidden" class="pk" value="{{ character.pk }}">
          <button type="submit" class="btn btn-primary mb-2">送信</button>
        </div>
      </form>
    </div>
    <div class="col">
      <form class="row mt-3" id="hashtag_form">
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">関連ハッシュタグ</span>
            </div>
            <input type="text" class="form-control hashtag" id="related_hashtags" value="{{related_hashtags}}">
          </div>
        </div>
        <div class="col-auto">
          <input type="hidden" class="pk" value="{{ character.pk }}">
          <button type="submit" class="btn btn-primary mb-2">送信</button>
        </div>
      </form>
    </div>
  </div>
  <hr>
  </div>
  <div class="mt-3 form-check">
      <input type="checkbox" class="form-check-input" id="show_unconfirmed"{% if not only_confirmed %} checked{%endif %}>
    <label class="form-check-label" for="show_unconfirmed">キャラクター自動推定の結果も表示する </label>
    <a data-bs-toggle="collapse" href="#description" role="button" aria-expanded="false" aria-controls="description">説明を表示</a>
  </div>
  <div class="collapse" id="description">
    <ul class="my-3">
      <li>既知のキャラクター画像との類似度を利用して自動推定されたキャラクターを検索できます</li>
      <li>キャラクターが自動推定された検索結果には左上に赤丸が表示されます</li>
    </ul>
  </div>
  {% endif %}
  {% if notfound %}
  <p>該当する画像がありませんでした</p>
  {% else %}
  <select class="form-select mt-3" id="order">
    <option value="created_at"{% if order == "created_at" %} selected{% endif %}>投稿日時が新しい順</option>
    <option value="like"{% if order == "like" %} selected{% endif %}>いいね数が多い順</option>
    <option value="id"{% if order == "id" %} selected{% endif %}>データベース登録が新しい順</option>
  </select>
  {% endif %}
  <div class="mt-4 row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-0" id="grid" data-masonry='{"percentPosition": true}'>
    {% for image in images %}
    <div class="col">
        <a href="{% url 'status' image.status.status_id %}?n={{ image.image_number }}"><img class="w-100 img-thumbnail" src="{{image.media_url}}:small" alt="検索結果" onerror="this.style.display='none'"{% if image.width != 0 %} width="{{ image.width }}" height="{{ image.height }}"{% endif %}>
        {% if character and not image.confirmed or not character and not image.confirmed and editor %}<span class="position-absolute top-0 start-0 m-2 p-1 bg-danger border border-light rounded-circle"><span class="visually-hidden">Unconfirmed</span></span>{% endif %}</a>
    </div>
    {% endfor %}
  </div>
  <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
    <ul class="pagination">
      {% if prev_page %}<li class="page-item"><a class="page-link" href="{{ prev_page }}">前へ</a></li>{% endif %}
      {% for page in pages %}
      <li class="page-item {% if page.n == current_page %}active{% endif %}">{% if page %}<a class="page-link" href="{{ page.url }}">{{ page.n }}</a>{% else %}<span class="page-link">...</span>{% endif %}</li>
      {% endfor %}
      {% if next_page %}<li class="page-item"><a class="page-link" href="{{ next_page }}">次へ</a></li>{% endif %}
    </ul>
  </nav>
</div>
{% endblock %}

{% block script %}
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
$('#translation_form').submit(function(e){
  e.preventDefault();
  var name_ja = $(this).find('.name_ja').val()
  axios.post('{% url 'translate_request' %}', {
      pk: $(this).find('.pk').val(),
      name_ja: name_ja,
  }).then(res => {
      console.log(res.data);
      if (res.data.success) {
        alert("日本語名の登録に成功しました（" + name_ja + "）");
        document.location.reload()
      } else {
        alert("キャラクター名の登録に失敗しました");
      }
  });
  return false;
});

$('#hashtag_form').submit(function(e){
  e.preventDefault();
  var hashtags = $(this).find('#related_hashtags').val()
  axios.post('{% url 'translate_request' %}', {
      pk: $(this).find('.pk').val(),
      hashtags: hashtags,
  }).then(res => {
      console.log(res.data);
      if (res.data.success) {
        alert("ハッシュタグの登録に成功しました（" + hashtags + "）");
      } else {
        alert("ハッシュタグの登録に失敗しました");
      }
  });
  return false;
});
$('#show_unconfirmed').change(function() {
    var url = new URL(window.location);
    var search_params = url.searchParams;
    if (this.checked) {
        search_params.set('confirmed', 'f');
    } else {
        search_params.delete('confirmed');
    }
    var new_url = url.toString();
    window.location.replace(new_url);
});

$('#order').change(function() {
    var url = new URL(window.location);
    var search_params = url.searchParams;
    search_params.set('order', $('#order').val());
    search_params.delete('page');
    var new_url = url.toString();
    window.location.replace(new_url);
});

var $grid = document.querySelector('#grid');
var msnry = new Masonry($grid, {
    itemSelector: '.col',
    percentPosition: true
});
var $images = $grid.querySelectorAll('img');
$images.forEach(function (el) {
    el.addEventListener('load', function () {
        msnry.layout();
    });
});
</script>
{% endblock %}
