{% extends 'main/base.html' %}

{% block page_title%}イラスト詳細 - にじさーち{% endblock %}

{% block content %}
<div class="container">
  <h2 class="h5 mt-5">イラスト詳細</h2>
  <hr>
  {% if not registered %}
    <p>現在詳細情報を取得中です。このページは3秒後に自動的に更新されます。</p>
  {% else %}
  <div id="app" class="container">
    <ul class="list-inline">
      <li class="list-inline-item"><a class="badge bg-primary rounded-pill text-decoration-none" href="{% url 'author' screen_name %}">@{{ screen_name }}</a></li>
      <li class="list-inline-item" v-if="!collection"><span class="badge bg-danger rounded-pill">非収載</span></li>
      <li class="list-inline-item" v-if="duplicated"><span class="badge bg-secondary rounded-pill">再投稿</span> <a v-bind:href="'/status/'+parent_id+'/?n='+parent_number"><small>(初出)</small></a></li>
      <li class="list-inline-item" v-if="diff"><span class="badge bg-warning rounded-pill">差分</span></li>
    </ul>
    <ul class="list-inline">
      {% for hashtag in hashtags %}
      <li class="list-inline-item">
          <a href="/search/?hashtags={{ hashtag }}" class="badge bg-info rounded-pill text-decoration-none">#{{ hashtag }}</a>
      </li>
      {% endfor %}
    </ul>
    <ul class="list-inline mt-3 v-cloak">
      <li class="list-inline-item">
        <a v-bind:href="'/search/?i2vtags='+encodeURIComponent(rating)" class="badge bg-secondary rounded-pill text-decoration-none">[[ rating ]]</a>
      </li>
      <li class="list-inline-item" v-for="tag in i2vtags">
        <a v-bind:href="'/search/?i2vtags='+encodeURIComponent(tag)" class="badge bg-secondary rounded-pill text-decoration-none">[[ tag ]]</a>
      </li>
    </ul>
    <ul class="list-inline mt-3 v-cloak">
      <li class="list-inline-item" v-for="character in characters">
          <a v-bind:href="'/search/?character='+encodeURIComponent(character.name_en)" class="badge rounded-pill text-decoration-none" :class="{ 'bg-success': confirmed, 'bg-dark': !confirmed }">
          <span v-if='character.name_ja == ""'>[[ character.name_en ]]</span>
          <span v-else>[[ character.name_ja ]]</span>
        </a>
      </li>
    </ul>
    <div class="row justify-content-center">
      <div class="col-1 my-auto"><button class="btn btn-outline-secondary" v-if="image_number > 0" v-on:click="updateImage(image_number-1)"><i class="bi bi-arrow-left"></i></button></div>
      <div class="col-8 col-lg-4"><img class="img-fluid" v-bind:src="media_url" alt="イラスト"></div>
      <div class="col-1 my-auto"><button class="btn btn-outline-secondary" v-if="image_number < image_data.length-1" v-on:click="updateImage(image_number+1)"><i class="bi bi-arrow-right"></i></button></div>
    </div>
  {% endif %}
  {% if editor %}
  <hr>
  <h2 class="h5 mt-4">キャラクター名の編集</h2>
  <p class="h6 mt-4">削除するキャラクター名を選んでください</p>
  <ul class="list-inline mt-3 mb-5">
    <li class="list-inline-item" v-for="character in characters">
      <button class="btn btn-secondary btn-sm" v-on:click="deleteName(character.name_en)">
        <span v-if='character.name_ja == ""'>[[ character.name_en ]]</span>
        <span v-else>[[ character.name_ja ]]</span>
      </button>
    </li>
  </ul>
  <p class="h6 mt-4">追加するキャラクター名を英語で入力してください（候補に表示されない名前は登録できません）</p>
  <div class="row gy-2 gx-3 align-items-center">
    <div class="col-auto">
      <input type="text" class="form-control" v-bind="character_name" ref="input" list="candidates" autocomplete="off" @keyup="suggest_character">
    </div>
    <div class="col-auto">
      <button v-on:click="submitInfo" class="btn btn-primary">登録</button>
    </div>
  </div>
  <div v-if="similar_characters.length > 0">
    <p class="h6 mt-4">または候補から選んでください</p>
    <ul class="list-inline mt-3">
      <li class="list-inline-item" v-for="name in similar_characters">
        <button class="btn btn-outline-secondary btn-sm" v-on:click="registerName(name)">[[ name ]]</button>
      </li>
      <li class="list-inline-item"><button class="btn btn-outline-secondary btn-sm" v-on:click="registerName('original')">original</button>
      </li>
    </ul>
  </div>
  <datalist id="candidates">
    <option v-for="name in name_candidates" :value="name">
  </datalist>
  <h2 class="h5 mt-5">登録情報の修正</h2>
  <form @submit="formSubmit">
    {% csrf_token %}
    <div class="form-group">
      <div class="form-check form-check-inline" v-if="collection">
        <input class="form-check-input" type="radio" v-model="report_type" id="not_illust" value="not_illust">
        <label class="form-check-label" for="not_illust">この画像を検索結果に表示しない</label>
      </div>
      <div class="form-check form-check-inline" v-else>
        <input class="form-check-input" type="radio" v-model="report_type" id="is_illust" value="is_illust">
        <label class="form-check-label" for="is_illust">この画像を検索結果に表示する</label>
      </div>
      <div class="form-check form-check-inline" v-if="is_nsfw">
        <input class="form-check-input" type="radio" v-model="report_type" id="radio_safe" value="safe">
        <label class="form-check-label" for="radio_safe">この画像はNSFWではありません</label>
      </div>
      <div class="form-check form-check-inline" v-else>
        <input class="form-check-input" type="radio" v-model="report_type" id="radio_nsfw" value="not_safe">
        <label class="form-check-label" for="radio_nsfw">この画像はNSFWです</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" v-model="report_type" id="radio_deleted" value="deleted">
        <label class="form-check-label" for="radio_deleted">この画像は削除されました</label>
      </div>
      <div class="form-check form-check-inline" v-if="!diff">
        <input class="form-check-input" type="radio" v-model="report_type" id="radio_diff" value="diff">
        <label class="form-check-label" for="radio_diff">この画像はトリミングまたは差分です</label>
      </div>
      <div class="form-check form-check-inline" v-else>
        <input class="form-check-input" type="radio" v-model="report_type" id="radio_not_diff" value="not_diff">
        <label class="form-check-label" for="radio_not_diff">この画像はトリミングまたは差分ではありません</label>
      </div>
    </div>
    <button type="submit" id="report" class="btn btn-danger">報告する</button>
  </form>
  {% endif %}
  <hr>
  <h2 class="h5 mt-5">出典ツイート</h2>
    <blockquote class="twitter-tweet tw-align-center" data-conversation="none"><a href="https://twitter.com/user/status/{{ status_id }}"></a></blockquote>
{% if registered %}
  <hr>
  <h2 class="h5 mt-5">類似イラスト</h2>
  <div class="row">
    <div class="col-4 col-md-3 col-lg-2 my-1 px-1" v-for="sim in similar_images">
      <a v-bind:href="sim.status_url"><img class="img-fluid" v-bind:src="sim.media_url" alt="類似イラスト"></a></div>
  </div>
  <hr>
  <h2 class="h5 mt-4">タグ表示について</h2>
  <ul class="mb-5">
      <li><span class="badge bg-primary rounded-pill text-decoration-none">青色のタグ</span> はイラストを投稿したアカウントを示しています。クリックすると各アカウントのページに移動します。</li>
      <li><span class="badge bg-success rounded-pill text-decoration-none bg-info">水色のタグ</span> はハッシュタグを示しています。クリックするとハッシュタグ検索結果に移動します</li>
      <li><span class="badge bg-secondary rounded-pill text-decoration-none">灰色のタグ</span> は<a href="https://github.com/rezoo/illustration2vec">Illustration2Vec</a>で推定されたタグを示しています。クリックするとタグ検索結果に移動します</li>
      <li><span class="badge bg-success rounded-pill text-decoration-none">緑色のタグ</span> は確認済みのキャラクター名を示しています。クリックするとキャラクター検索結果に移動します</li>
      <li><span class="badge bg-dark rounded-pill text-decoration-none">黒色のタグ</span> は自動推定されたキャラクター名を示しています。クリックするとキャラクター検索結果に移動します</li>
      <li><span class="badge bg-danger rounded-pill text-decoration-none">非収載</span> はその画像が検索結果に表示されないことを示しています。</li>
      <li><span class="badge bg-secondary rounded-pill text-decoration-none">再投稿</span> は同一の画像が以前に投稿されていることを示しています。「初出」をクリックすると収集されている同一画像の中で最も古い画像のページに移動します</li>
  </ul>
</div>
{% endif %}
</div>
{% endblock %}

{% block script %}
{% if registered %}
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://unpkg.com/vue@3.2.26"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const app = Vue.createApp({
  data() {
    return { 
      success: true,
      image_number: {{ number }},
      rating: "",
      i2vtags: [],
      characters: [],
      candidates: [],
      media_url: "",
      image_data: [],
      character_name: "",
      similar_images: [],
      similar_characters: [],
      name_candidates: [],
      is_nsfw: undefined,
      collection: undefined,
      confirmed: undefined,
      duplicated: undefined,
      diff: undefined,
      parent_id: undefined,
      parent_number: undefined,
      report_type: "not_illust",
    }
  },
  mounted() {
    this.getInfo();
    const url = new URL(window.location);
    url.searchParams.set('n', this.image_number);
    history.replaceState({}, '', url);
  },
  methods: {
    getInfo: function() {
      axios.get('{% url 'get_images' status_id %}')
        .then(res => {
          this.success = res.data.success;
          if(this.success) {
            var n = this.image_number;
            this.image_data = res.data.image_data;
            this.characters = this.image_data[n].characters;
            this.candidates = this.image_data[n].candidates;
            this.i2vtags = this.image_data[n].i2vtags;
            this.rating = this.image_data[n].rating;
            this.media_url = this.image_data[n].media_url;
            this.is_nsfw = this.image_data[n].is_nsfw;
            this.collection = this.image_data[n].collection;
            this.confirmed = this.image_data[n].confirmed;
            this.duplicated = this.image_data[n].duplicated;
            this.diff = this.image_data[n].diff;
            this.parent_id = this.image_data[n].parent_id;
            this.parent_number = this.image_data[n].parent_number;
            axios.post('{% url 'get_similar_images' %}', {
                media_url: this.media_url,
            }).then(res => {
              if(res.data.success) {
                this.similar_images = res.data.similar_images;
                this.similar_characters = res.data.similar_characters;
              }
            });
          }
        });
    },
    updateImage: function(n) {
      this.image_number = n;
      this.characters = this.image_data[n].characters;
      this.i2vtags = this.image_data[n].i2vtags;
      this.rating = this.image_data[n].rating;
      this.media_url = this.image_data[n].media_url;
      this.collection = this.image_data[n].collection;
      this.confirmed = this.image_data[n].confirmed;
      this.duplicated = this.image_data[n].duplicated;
      this.diff = this.image_data[n].diff;
      this.parent_id = this.image_data[n].parent_id;
      this.parent_number = this.image_data[n].parent_number;
      const url = new URL(window.location);
      url.searchParams.set('n', this.image_number);
      history.replaceState({}, '', url);
    },
    registerName: function(name) {
      axios.post('{% url 'register_character' %}', {
          status_id: "{{ status_id }}",
          image_number: this.image_number,
          name_en: name
      }).then(res => {
      if (res.data.success) {
            alert("キャラクター名が登録されました（"+name+"）");
            this.getInfo();
      } else {
            alert("キャラクター名の登録に失敗しました。キャラクター名は候補の中から選んで下さい");
      }
      });
    },
    submitInfo: function() {
      var name = this.$refs.input.value;
      this.registerName(name);
    },
    deleteName: function(name) {
      axios.post('{% url 'delete_character' %}', {
          status_id: "{{ status_id }}",
          image_number: this.image_number,
          name: name
      }).then(res => {
      if (res.data.success) {
            alert("キャラクター名を削除しました（"+name+"）");
            this.getInfo();
      } else {
            alert("キャラクター名の削除に失敗しました（"+name+"）");
      }
      });
    },
    formSubmit: function(e) {
        e.preventDefault();
        axios.post('{% url 'report' %}', {
            status_id: "{{ status_id }}",
        image_number: this.image_number,
        report_type: this.report_type,
        }).then(res => {
          if(res.data.success) {
            alert("報告が完了しました");
            if(this.report_type == "safe") {
                this.is_nsfw = false;
            } else if (this.report_type == "not_safe") {
                this.is_nsfw = true;
            } else if (this.report_type == "is_illust") {
              this.collection = true;
            } else if (this.report_type == "not_illust") {
              this.collection = false;
            } else if (this.report_type == "deleted") {
              this.collection = false;
            } else if (this.report_type == "diff") {
              this.collection = false;
              this.diff = true;
            } else if (this.report_type == "not_diff") {
              this.collection = true;
              this.diff = false;
            }
          } else {
            alert("報告に失敗しました");
      }
        });
    },
    suggest_character: function(e) {
      var content = this.$refs.input.value;
      if (content.length < 3) {
        this.name_candidates = [];
        return;
      }
      axios.post('{% url 'suggest_character' %}', {
          content: content
      }).then(res => {
          if(res.data.success) {
            this.name_candidates = res.data.names;
          }
      });
    },
  },
  compilerOptions: {
    delimiters: ["[[", "]]"]
  }
});

const vm = app.mount('#app');

</script>
{% else %}
<script>
setTimeout(function () { location.reload(); }, 3000);
</script>
{% endif %}  
{% endblock %}
