{% extends 'main/base.html' %}

{% block page_title%}イラスト詳細 - にじさーち{% endblock %}

{% block content %}
<div class="container">
  <h1 class="h5 mt-5">イラスト詳細</h1>
  <hr>
  {% if not registered %}
    <p>現在詳細情報を取得中です。このページは3秒後に自動的に更新されます。</p>
  {% else %}
  <div id="app" class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
          <span class="badge bg-primary rounded-pill text-decoration-none">@{{ screen_name }}</span>
      </li>
      {% for hashtag in hashtags %}
      <li class="list-inline-item">
          <a href="/search/?hashtags={{ hashtag }}" class="badge bg-info rounded-pill text-decoration-none">#{{ hashtag }}</a>
      </li>
      {% endfor %}
    </ul>
    <ul class="list-inline mt-3 v-cloak">
      <li class="list-inline-item">
        <a v-bind:href="'/search/?i2vtags='+rating" class="badge bg-secondary rounded-pill text-decoration-none">[[ rating ]]</a>
      </li>
      <li class="list-inline-item" v-for="tag in i2vtags">
        <a v-bind:href="'/search/?i2vtags='+tag" class="badge bg-secondary rounded-pill text-decoration-none">[[ tag ]]</a>
      </li>
    </ul>
    <ul class="list-inline mt-3 v-cloak">
      <li class="list-inline-item" v-for="character in characters">
        <a v-bind:href="'/search/?character='+character" class="badge bg-success rounded-pill text-decoration-none">[[ character ]]</a>
      </li>
    </ul>
    <div class="row justify-content-center">
      <div class="col-1 my-auto"><button class="btn btn-outline-secondary" v-if="image_number > 0" v-on:click="updateImage(image_number-1)"><i class="bi bi-arrow-left"></i></button></div>
      <div class="col-8 col-lg-4"><img class="img-fluid" v-bind:src="media_url"></div>
      <div class="col-1 my-auto"><button class="btn btn-outline-secondary" v-if="image_number < image_data.length-1" v-on:click="updateImage(image_number+1)"><i class="bi bi-arrow-right"></i></button></div>
    </div>
  {% endif %}
  <hr>
  <h3 class="h5 mt-5">出典ツイート</h1>
    <blockquote class="twitter-tweet tw-align-center" data-conversation="none"><a href="https://twitter.com/user/status/{{ status_id }}"></a></blockquote>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <hr>
  {% if registered %}
    <h3 class="h5 mt-4">キャラクター名の登録</h3>
    <div v-if="similar_characters.length > 0">
    <p class="h6 mt-4">候補をクリックしてください</p>
    <ul class="list-inline mt-3">
      <li class="list-inline-item" v-for="name in similar_characters">
        <button class="btn btn-outline-secondary btn-sm" v-on:click="registerName(name)">[[ name ]]</button>
      </li>
    </ul>
    <p class="h6 mt-4">正しい名前が候補にない場合はキャラクター名を英語で入力してください</p>
    </div>
    {% if hashtags %}
    <ul class="list-inline mt-3">
        {% for hashtag in hashtags %}
        <li class="list-inline-item">
          <button class="btn btn-outline-primary btn-sm" v-on:click="registerName('{{ hashtag }}')">{{ hashtag }}</button>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
        <input type="text" class="form-control" v-bind="character_name" ref="input">
        </div>
        <div class="col-auto">
        <button v-on:click="submitInfo" class="btn btn-primary">登録</button>
        </div>
    </div>
    <h1 class="h5 mt-5">類似イラスト</h1>
    <div class="row">
      <div class="col-4 col-md-3 col-lg-2 my-1 px-1" v-for="sim in similar_images">
        <a v-bind:href="sim.status_url"><img class="img-fluid" v-bind:src="sim.media_url"></a></div>
    </div>
    <h1 class="h5 mt-5">キャラクター情報の修正</h1>
    <p class="h6 mt-4">削除するキャラクター名を選んでください</p>
    <ul class="list-inline mt-3 mb-5">
      <li class="list-inline-item" v-for="character in characters">
        <button class="btn btn-secondary btn-sm" v-on:click="deleteName(character)">[[ character ]]</button>
      </li>
    </ul>
  </div>
  {% endif %}
{% endblock %}

{% block script %}
{% if registered %}
<script src="https://unpkg.com/vue@3.2.26"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const app = Vue.createApp({
  data() {
    return { 
      success: true,
      image_number: {{ number }},
      rating: "",
      i2vtags: [],
      characters: [],
      media_url: "",
      image_data: [],
      character_name: "",
      similar_images: [],
      similar_characters: [],
    }
  },
  mounted() {
    axios.get('{% url 'get_images' status_id %}')
      .then(res => {
        this.success = res.data.success;
        if(this.success) {
          var n = this.image_number;
          this.image_data = res.data.image_data;
          this.characters = this.image_data[n].characters;
          this.i2vtags = this.image_data[n].i2vtags;
          this.rating = this.image_data[n].rating;
          this.media_url = this.image_data[n].media_url;
          axios.post('{% url 'get_similar_images' %}', {
              media_url: this.media_url,
          }).then(res => {
            if(res.data.success) {
              this.similar_images = res.data.similar_images;
              this.similar_characters = res.data.similar_characters;
            }
          });
        }
      });
  },
  methods: {
    updateImage: function(n) {
      this.image_number = n;
      this.i2vtags = this.image_data[n].i2vtags;
      this.rating = this.image_data[n].rating;
      this.media_url = this.image_data[n].media_url;
    },
    registerName: function(name) {
      axios.post('{% url 'register_character' %}', {
          status_id: "{{ status_id }}",
          image_number: this.image_number,
          name_en: name
      }).then(res => {
	  if (res.data.success) {
            alert("キャラクター名が登録されました（"+name+"）");
            this.characters.push(name);
	  } else {
            alert("キャラクター名の登録に失敗しました（"+name+"）");
	  }
      });
    },
    submitInfo: function() {
      var name = this.$refs.input.value;
      this.registerName(name);
    },
    deleteName: function(name) {
      axios.post('{% url 'delete_character' %}', {
          status_id: "{{ status_id }}",
          image_number: this.image_number,
          name: name
      }).then(res => {
	  if (res.data.success) {
            alert("キャラクター名を削除しました（"+name+"）");
            this.characters = this.characters.filter(item => item != name);
	  } else {
            alert("キャラクター名の削除に失敗しました（"+name+"）");
	  }
      });
    },
  },
  compilerOptions: {
    delimiters: ["[[", "]]"]
  }
});

const vm = app.mount('#app');

</script>
{% else %}
<script>
setTimeout(function () { location.reload(); }, 3000);
</script>
{% endif %}  
{% endblock %}
