{% extends 'main/base.html' %}

{% block page_title%}にじさーち{% endblock %}

{% block content %}
<div class="container">
  {% for character in character_list %}
    <h3 class="h5 mt-4">{{ character.name }}</h3>
    <div class="row g-0">
      {% for img in character.image_list %}
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-0">
            <a href="{% url 'status' img.status_id %}"><img class="w-100 img-thumbnail" src="{{img.media_url}}:thumb"></a>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{% endblock %}
